# Example config file. Create a .env file with the same structure and fill in the values with your credentials.

DB_NAME="telegram_data"
DB_USER="postgres"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT="5432"

DATABASE_FOLDER="./database"
RAW_DATA_FOLDER="./raw_data"
OUTPUT_FOLDER="./output"
SCRATCH_FOLDER="./scratch"

PGADMIN_EMAIL="admin@pgadmin.org"
PGADMIN_PASSWORD="admin"